
$ml-color-white: #fff;
$ml-color-yellow: #ffe600;
$ml-color-black: #333;
$ml-color-grey: #999;
$ml-color-grey-light: #eee;
$ml-color-blue: #3483fa;

$ml-font-size-1: 0.75rem;
$ml-font-size-2: 0.875rem;
$ml-font-size-3: 1.125rem;
$ml-font-size-4: 1.5rem;
$ml-font-size-5: 2.875rem;

$ml-padding-1: 1rem;
$ml-padding-2: 2rem;

$ml-border-radius: 4px;
